<div class="main-container">
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h1 class="display-4" *ngIf="currentArticle"><strong>{{ currentArticle.title }}</strong>
                            </h1>
                            <div class="d-flex align-items-center">
                                <span class="badge badge-secondary mr-3"
                                    *ngIf="currentArticle">{{ currentArticle.category}}</span>
                                <ul class="list-inline text-small d-inline-block">
                                    <li class="list-inline-item"><button type="button" class="btn btn-outline-secondary"
                                            (click)="putArticleLike()"><i class="icon-thumbs-up"
                                                *ngIf="isLiked==false"></i><i class="icon-thumbs-up"
                                                *ngIf="isLiked==true" style="color: red;"></i>
                                            {{ likes.length }}</button> </li>
                                    <li class="list-inline-item"><button type="button"
                                            class="btn btn-outline-secondary"><i class="icon-message"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-7">
                    <figure class="figure">
                        <img alt="Image"
                            src="{{currentArticle.image_url}}"
                            class="img-fluid figure-img" />
                    </figure>

                    <article>
                      {{currentArticle.body}}
                    </article>
                    <app-comments></app-comments>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                              <div><i class="icon-text-document mr-1"></i> Автор</div>
                              <span>{{currentArticle.created_by}}</span>
                            </div>
                          </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-text-document mr-1"></i> Создан</div>
                                    <span>{{currentArticle.created_at.substring(0, 10)}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-thumbs-up mr-1"></i> Нравится</div>
                                    <span>{{likes.length}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- МЕСТО ДЛЯ РЕКЛАМЫ-->
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div>
                                <span class="h6">Ваша реклама</span>
                            </div>
                        </div>
                        <img class="ad w-100 h-100" src="assets/img/graphic-product-kin.jpg" alt="">
                    </div>
                    <!-- КОНЕЦ РЕКЛАМЫ-->

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div>
                                <span class="h6">Похожие статьи</span>
                            </div>
                            <a href="#">Посмотреть все &rsaquo;</a>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled list-spacing-sm">

                                <li>
                                    <div class="media">
                                        <a href="#">
                                            <img alt="Image" src="assets/img/graphic-product-bench-thumb.jpg"
                                                class="avatar avatar-square rounded mr-3" />
                                        </a>
                                        <div class="media-body">
                                            <a href="#">
                                                <span class="h6">Bench</span>
                                            </a>
                                            <span class="badge badge-secondary">Бизнес</span>
                                            <div class="text-muted">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <small><i class="icon-heart"></i> 373</small>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <small><i class="icon-message"></i> 62</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <a href="#">
                                            <img alt="Image" src="assets/img/graphic-product-kin-thumb.jpg"
                                                class="avatar avatar-square rounded mr-3" />
                                        </a>
                                        <div class="media-body">
                                            <a href="#">
                                                <span class="h6">Kin</span>
                                            </a>
                                            <span class="badge badge-secondary">Спорт</span>
                                            <div class="text-muted">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <small><i class="icon-heart"></i> 84</small>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <small><i class="icon-message"></i> 21</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <a href="#">
                                            <img alt="Image" src="assets/img/graphic-product-paydar-thumb.jpg"
                                                class="avatar avatar-square rounded mr-3" />
                                        </a>
                                        <div class="media-body">
                                            <a href="#">
                                                <span class="h6">Paydar</span>
                                            </a>
                                            <span class="badge badge-secondary">Авто</span>
                                            <div class="text-muted">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <small><i class="icon-heart"></i> 253</small>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <small><i class="icon-message"></i> 19</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <a href="#">
                                            <img alt="Image" src="assets/img/graphic-product-pipeline-thumb.jpg"
                                                class="avatar avatar-square rounded mr-3" />
                                        </a>
                                        <div class="media-body">
                                            <a href="#">
                                                <span class="h6">pipeline.js</span>
                                            </a>
                                            <span class="badge badge-secondary">Продуктивность</span>
                                            <div class="text-muted">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <small><i class="icon-heart"></i> 84</small>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <small><i class="icon-message"></i> 25</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
<script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.polyfills.js"></script>
<script type="text/javascript" src="assets/js/prism.js"></script>
<script type="text/javascript" src="assets/js/zoom.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/theme.js"></script>
