.main-container {
    width: 100%;
    float: left;
    margin-left: 30px;
    margin-right: 0;
    padding: 20px 30px;
}

.main-container .home_left {
    width: 66.10169492%;
    float: left;
    margin-right: 1.69491525%
}

.main-container .main__meta {
    margin-top: 15px
}

.main-container .main__meta-author_created_d {
    font-style: italic
}

.post-main-img img {
    width: 100%;
    max-width: 100%;
    margin-left: 0
}

.post-main-img {
    margin-top: 20px;
    /* margin-left: -30px; */
    /* margin-right: 20px; */
    margin-bottom: 20px
}

.main-container .main__content {
    margin-top: 15px;
    position: relative;
    max-width: 100%;
    margin-right: auto
}

.main-container .main__urls {
    margin-top: 15px;
    display: -ms-flexbox;
    display: flex
}

.main-container .main__urls_habs, .main-container .main__urls_links {
    width: 100%;
}

.main-container .main__urls_habs {
    float: right;
    margin-right: 0;
    text-align: right
}

.main-container .right__images {
    text-align: center;
    margin-top: 10px;
}

.main-container .right__images a img {
    display: inline-block;
    margin-left: 0px;
}

.main-container .right__images a.link {
    display: block;
    border: none;
    margin: 5px 0;
    color: #afafaf
}

.laravelComment {
    width: 100%;
    margin-left: 30px;
    margin-right: 0;
    padding: 20px 30px;
}

.comments .comments__item, .comments_list__item {
    display: block;
    margin-bottom: 10px
}

.comments .comments__item:after, .comments_list__item:after {
    content: " ";
    display: block;
    clear: both
}

.comments .comments__item_avatar, .comments_list__item_avatar {
    width: 6.77966102%;
    float: left;
    margin-right: 1.69491525%
}

.comments .comments, .comments_list, .main-container .pagination {
    list-style: none;
}

.comments .comments__item_avatar img, .comments_list__item_avatar img {
    border-radius: 25px;
    width: 50px
}

.comments .comments__item_main, .comments_list__item_main {
    width: 66.10169492%;
    float: left;
    margin-right: 1.69491525%
}

.comments .comments__item_main_by, .comments_list__item_main_by {
    display: -ms-flexbox;
    display: flex
}

.comments .comments__item_main_by-name, .comments_list__item_main_by-name {
    font-weight: 700;
    float: left
}

.comments .comments__item_main_by-date, .comments_list__item_main_by-date {
    float: left;
    margin-left: 10px
}

.comments .comments__item_main_by-delete, .comments_list__item_main_by-delete {
    margin-left: 10px
}

.comments .comments__item_main_body, .comments_list__item_main_body {
    margin: 10px 0
}

.comments-login {
    border-bottom: 5px;
    padding: 15px 50px;
}

