<div class="nav-container">
  </div>
  <div class="main-container">
      <section class="space-sm">
          <div class="container align-self-start">
              <div class="row mb-5">
                  <!--end of col-->
              </div>
              <!--end of row-->
              <div class="row justify-content-center">
                  <div class="col-12 col-md-8 col-lg-7">
                      <div class="card card-lg text-center">
                          <div class="card-body">
                              <div class="mb-5">
                                  <h1>Регистрация</h1>
                                  <span>Создайте аккаунт для продолжения</span>
                              </div>
                              <div class="row no-gutters justify-content-center">
                                  <form class="text-left col-lg-8 dark-form">
                                      <div class="form-group">
                                          <label for="login-email">Email</label>
                                          <input class="form-control form-control-lg" type="email" name="email" id="login-email" placeholder="Email Address" />
                                      </div>
                                      <div class="form-group">
                                          <label for="login-password">Пароль</label>
                                          <input class="form-control form-control-lg" type="password" name="password" id="login-password" placeholder="Enter a password" />
                                      
                                      </div>
                                      <div class="form-group">
                                          <label for="login-password">Повторите пароль</label>
                                          <input class="form-control form-control-lg" type="password" name="password" id="confirm-password" placeholder="Confirm password" />
                                      
                                      </div>
                                      <div class="text-center mt-3">
                                          <button type="submit" class="btn btn-lg btn-primary btn-block">Зарегестрироваться</button>
                                      </div>
                                  </form>
                              </div>
                              <!--end of row-->
                          </div>
                      </div>
                      <div class="text-center">
                          <span class="text-small">Уже есть аккаунт? <a href="#">Войти</a>
                          </span>
                      </div>
                  </div>
                  <!--end of col-->
              </div>
              <!--end of row-->
          </div>
          <!--end of container-->
      </section>
      <!--end of section-->
  </div>
