<div class='container mt-5 mb-5'>
  <li routerLink = '/post/{{a.id}}' *ngFor="let a of articles" class="row align-items-center justify-content-around mb-5">
    <div class="col-12 col-md-6 order-md-2">
      <img class="img-fluid rounded" src="{{a.image_url}}" />
    </div>
    <div class="col-12 col-md-6 col-lg-5 text-lg-center order-md-1">
      <h3 class="h1">{{a.title}}</h3>
      <p class="lead">
        {{a.body.substring(0, 100)}}
      </p>
      <p>Compare plans and featur</p>
    </div>
  </li>
</div>
