<hr>
<h5 class="mb-4">Обсуждение</h5>
<div class="card">
  <div class="card-header bg-secondary d-flex justify-content-between">
    <button class="btn btn-secondary" type="button" data-target="#comment-reply" data-toggle="collapse" aria-expanded="false" aria-controls="comment-reply">Оставить комментарий</button>
    <form class="d-flex align-items-center">
    </form>
  </div>
  <div class="collapse" id="comment-reply">
    <form class="card-body">
      <div class="form-group">
        <textarea class="form-control from-control-lg" id="comment-reply-text" name="comment-reply" rows="4" placeholder="Пишите свой комментарий здесь"></textarea>
      </div>
      <div class="mb-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="notify-reply" id="check-notify">
          <label class="custom-control-label text-small" for="check-notify">Уведомить меня, когда кто-то ответит</label>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <button type="submit" class="btn btn-success mr-3">Опубликовать комментарий</button>
        <a href="#comment-reply" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Отмена</a>
      </div>
    </form>
  </div>
  <ul class="list-group list-group-flush list-group-comments" >

    <li class="list-group-item py-4" *ngFor="let comment of comments">
      <div class="media">
        <img alt="Image" src="assets/img/avatar-female-2.jpg" class="avatar avatar-sm" />
        <div class="media-body">
          <div class="mb-2">
            <span class="h6 mb-0">Kelly Fraiser</span>
            <span class="text-muted">Making awesome products</span>
          </div>
          <p>
            {{comment.body}}
          </p>
          <div class="d-flex align-items-center">
            <div class="mr-2">
              <button class="btn btn-sm btn-outline-primary">Ответить</button>
              <button class="btn btn-sm btn-outline-primary"><i class="icon-thumbs-up"></i>&nbsp;(2)</button>
            </div>
            <small class="text-muted">1st Dec 2019 • 10:15am</small>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>
